.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 100vh;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 0.5px solid grey;
  }
  
  .matching-destinations {
    margin: 4rem 6rem
  }

  .search-container h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    text-align: start;
    justify-content: center;
    margin-top: 4rem;;
    gap: 50px
    
  }
  .destination-card {
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .destination-card h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .destination-card p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .image-container{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
  }
  
  .destination-card img {
    width: 100%;

    max-width: 400px;
    height: 100%;
  }

  .empty{
    margin-top: 5rem;
  }
  